<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hotel_image</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h2 class="my-4">Add photo you want to change</h2>
		<form method = "post" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" class="btn btn-large btn-success">Upload</button>
		</form>
		<hr>
		<!-- Image upload -->
		<h2 class="my-4">Images</h2>
        <div class="row">
          {% for m in images %}
          <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
            <div class="card h-100 p-4">
				<!-- takes "image" from models.py and displays it" -->
              <img src="{{ m.image.url }}" class="card-img-top" alt="There should be an image here">
			  <h2 class="text-center">{{ m.name }}</h2>
            </div>
          </div>
          {% empty %}
          <p>No images added.</p>
          {% endfor %}
        </div>
		
	</div>


	
</body>
</html>
